body {
 	text-align: center;
	background-color: #AA4E6A;
	color: #FFF;
	font-family: Helvetica;

}
h1 {
	text-transform: uppercase;
	font-size: 65px;
	font-weight: bold;

}
#slogan {
	font-style: italic;
}
hr {
  width: 400px;
}
#listtitle {
	text-decoration: underline;
}
ul {
    text-align: center;
    list-style-type: none;
}
